GeoCLIP/review_scraper(outdated)/__pycache__
GeoCLIP/review_scraper(outdated)/spiders/__pycache__
GeoCLIP/review_scraper(outdated)/spiders/images
GeoCLIP/review_scraper(outdated)/spiders/backup
GeoCLIP/geoclip_eval/images
GeoCLIP/geoclip_eval/evalenv
GeoCLIP/image_clustering/clusterenv
GeoCLIP/review_scraper(outdated)/__pycache__
.env
brightdata/.env
brightdata/venv
brightdata/data/images
brightdata/data/resultsgulf2.json
brightdata/__pycache__