old/review_scraper(outdated)/__pycache__
old/review_scraper(outdated)/spiders/__pycache__
old/review_scraper(outdated)/spiders/images
old/review_scraper(outdated)/spiders/backup
old/old_eval/images
old/old_eval/evalenv
old/image_clustering/clusterenv
old/review_scraper(outdated)/__pycache__
.env
brightdata/.env
brightdata/venv
brightdata/data/images
brightdata/data/resultsgulf2.json
brightdata/__pycache__